* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
    font-family: 'Open Sans', sans-serif;
}

header {
  height: 44vh;
  background-color: #4B0082;
  color: white;
  text-align: center;
  padding-top: 5vh;
  text-shadow: 0 0 10px black;
}

header h1 {
  padding-top: 3vh;
  font-size: 2.5em;
  font-family: 'Ubuntu', sans-serif;
}

#circle-art {
  width: 10vw;
  height: 10vw;
  position: relative;
  left: 45vw;
}

.circle {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  background: transparent;
  border: 5px solid white;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent; 
  border-radius: 50%;
  text-shadow: 0 0 10px black;
}

#circle1 {
  width: 100%;
  height: 100%;
  animation: rotate 2s .5 ease-in-out;
}

#circle2 {
  width: 90%;
  height: 90%;
  transform: rotate(20deg);
  animation: rotate2 1s 1 ease-in-out;
}

#circle3 {
  width: 80%;
  height: 80%;
  transform: rotate(40deg);
  animation: rotate3 .5s 2 ease-in-out;
}

@keyframes rotate {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}

@keyframes rotate2 {
  0% {transform: rotate(20deg);}
  100% {transform: rotate(380deg)}
}

@keyframes rotate3 {
  0% {transform: rotate(40deg)}
  100% {transform: rotate(400deg)}
}

nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 6vh;
  background-color: #4B0082;
  color: white;
}

nav a {
  position: relative;
  color: white;
  text-decoration: none;
  font-size: 1.15em;
  float: right;
  margin-right: 2vw;
  text-shadow: 0 0 10px black;
}
  
nav a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: white;
  visibility: hidden;
  transform: scalex(0);
  transition: all 0.5s ease-in-out 0s;
}
  
nav a:hover:before {
  visibility: visible;
  transform: scalex(1);
}

/* Sheet for index.html*/

#home {
  padding-top: 10vh;
  padding-left: 20vw;
  padding-right: 20vw;
  text-align: center;
  color: black;
}

#home p {
  font-size: 1.5em;
  margin-bottom: 3vh;
}

/* portfolio.html */
#portfolio {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#portfolio h1 {
    font-size: 3em;
    padding: 5vh;
    width: 100vw;
}

.tile {
    border: 1px solid black;
    width: 600px;
    height: 275px;
    margin: 5vh;
    padding: 50px;
    font-weight: bold;
    font-size: 15px;
    color: white;
    box-shadow: 5px 5px 5px #303030;
}

.hover-box span {
    visibility: hidden;
}

.hover-box:hover span {
    visibility: visible;
}

.hover-box a {
    background-color: #4B0082;
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    width: 100px;
    margin: 15px auto;
}

#roman {
    background: url('https://farm5.staticflickr.com/4836/47338424672_0854d16bbc_o.jpg');
    background-size: cover;
}

#roman:hover {
  background: linear-gradient(
    rgba(0, 0, 0, 0.9),
    rgba(0, 0, 0, 0.9)
  ), url('https://farm5.staticflickr.com/4836/47338424672_0854d16bbc_o.jpg');
  background-size: cover;
}

#palindrome {
    background: url('https://farm5.staticflickr.com/4811/40425330603_631f592d18_o.jpg');
    background-size: cover;
}

#palindrome:hover {
  background: linear-gradient(
    rgba(0, 0, 0, 0.9),
    rgba(0, 0, 0, 0.9)
  ), url('https://farm5.staticflickr.com/4811/40425330603_631f592d18_o.jpg');
  background-size: cover;
}

#napalm {
    background: url('https://c2.staticflickr.com/8/7841/46632705122_a1799a8945_b.jpg');
    background-size: cover;
}

#napalm:hover {
  background: linear-gradient(
    rgba(0, 0, 0, 0.9),
    rgba(0, 0, 0, 0.9)
  ), url('https://c2.staticflickr.com/8/7841/46632705122_a1799a8945_b.jpg');
  background-size: cover;
}

#tech {
    background: url('https://c2.staticflickr.com/8/7848/46632706902_000fd515c3_b.jpg');
    background-size: cover;
}

#tech:hover {
  background: linear-gradient(
    rgba(0, 0, 0, 0.9),
    rgba(0, 0, 0, 0.9)
  ), url('https://c2.staticflickr.com/8/7848/46632706902_000fd515c3_b.jpg');
  background-size: cover;
}

#landing {
    background: url('https://c2.staticflickr.com/8/7914/46632705712_59112abd0f_o.jpg');
    background-size: cover;
}

#landing:hover {
  background: linear-gradient(
    rgba(0, 0, 0, 0.9),
    rgba(0, 0, 0, 0.9)
  ), url('https://c2.staticflickr.com/8/7914/46632705712_59112abd0f_o.jpg');
  background-size: cover;
}

#survey {
    background: url('https://c2.staticflickr.com/8/7804/46632706262_8640aa3af3_o.jpg');
    background-size: cover;
}

#survey:hover {
  background: linear-gradient(
    rgba(0, 0, 0, 0.9),
    rgba(0, 0, 0, 0.9)
  ), url('https://c2.staticflickr.com/8/7804/46632706262_8640aa3af3_o.jpg');
  background-size: cover;
}

#tribute {
    background: url('https://c1.staticflickr.com/5/4821/46632707412_603ec5a665_o.jpg');
    background-size: cover;
}

#tribute:hover {
  background: linear-gradient(
    rgba(0, 0, 0, 0.9),
    rgba(0, 0, 0, 0.9)
  ), url('https://c1.staticflickr.com/5/4821/46632707412_603ec5a665_o.jpg');
  background-size: cover;
}
/* contact.html */

#contact {
    background-color: white;
    color: black;
    text-align: center;
  }
  
  #contact h1 {
    padding-top: 5vh;
    font-size: 3em;
    margin-bottom: 5vh;
  }
  
  #contact a {
    font-size: 1.5em;
    color: white;
    text-decoration: none;
    padding: 0.75em;
    display: block;
    width: 25vw;
    margin: 3vh auto;
    border-radius: 10px;
  }
  
  #email {
    background-color: #b23121;
    transition: all 1s ease;
  }
  
  #email:hover {
    background-color: white;
    color: #b23121;
    font-weight: bold;
  }

  #linkedin {
    background-color: #0077B5;
    transition: all 1s ease;
  }

  #linkedin:hover {
    background-color: white;
    color: #0077B5;
    font-weight: bold;
  }
  
  #facebook {
    background-color: #3b5998;
    transition: all 1s ease;
  }
  
  #facebook:hover {
    background-color: white;
    color: #3b5998;
    font-weight: bold;
  }
  #github {
    background-color: #333;
    transition: all 1s ease;
  }
  
  #github:hover {
    background-color: white;
    color: #333;
    font-weight: bold;
  }
  
  #profile-link {
    background-color: #006400;
    transition: all 1s ease;
  }
  
  #profile-link:hover {
    background-color: white;
    color: #006400;
    font-weight: bold;
  }
  
  #codepen {
    background-color: black;
    transition: all 1s ease;
  }
  
  #codepen:hover {
    background-color: white;
    color: black;
    font-weight: bold;
  }

  #hackerrank {
    background-color: #00B759;
    transition: all 1s ease;
  }

  #hackerrank:hover {
    background-color: white;
    color: #00B759;
    font-weight: bold;
  }

/* for mobile */

@media (max-width: 1000px) {
  header h1 {
    font-size: 4em;
  }
  #circle-art {
    width: 35vw;
    height: 35vw;
    left: 32.5vw;
  }
  nav {
    justify-content: space-around;
  }
  #home p {
    font-size: 3.5em;  
  }
  nav a {
    font-size: 2em;
  }
  #portfolio h1 {
    font-size: 4em
  }
  .tile {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80vw;
    height: 45vw;
  }
  .tile-pic {
    width: 80vw;
    height: auto;
  }
  #contact h1 {
    font-size: 4em;
    padding-top: 10vh;
    margin-bottom: 5vh;
  }
  #contact a {
    font-size: 3em;
    width: 90vw;
  }
}
